*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.mvn/
*.iml
.idea/
.settings/
bin/
_site/
.classpath
.eclipse-pmd
.project
*.launch
.springBeans
.apt_generated
.factorypath
.profiler
git.properties

deprecated/
**/src/site/markdown/README.md
**/src/site/markdown/src/readme
**/src/site/resources
